---
layout: default
---
<div class="list-group">
  <li class="list-group-item">
    <h4> {{ page.title }} </h4>
    <p class="text-muted">
      {% assign ctx=page %}
      {% include post/meta.html %}
    </p>
    <p>
      {{ content }}
    </p>
    <div class="footer">
      <hr />
      {% include post/share_bar.html %}
      <div class="card-group">
        {% if page.previous %}
          {% assign ctx=page.previous %}
          {% assign btitle="&#8592; Предыдущий пост" %}
          {% include post/recommend_post_card.html %}
        {% endif %}
        {% if page.next %}
          {% assign ctx=page.next %}
          {% assign btitle="Следующий пост &#8594;" %}
          {% include post/recommend_post_card.html %}
        {% endif %}
      </div>
    </div>
  </li>
</div>
