---
layout: default
---

<h4 class="title is-4">{{ page.title }}</h4>
<h6 class="subtitle is-6">
  <time datetime="{{ page.date | date_to_xmlschema }}">
    {{ page.date | localize: "%d %b %Y" }}
  </time>
  &nbsp;|&nbsp;

  {{ content | reading_time }}
  {%- if page.tags.size > 0 -%}
    &nbsp;|&nbsp;
    {% for tag in page.tags %}
      <a href="/tag/{{tag}}">
        {{tag}}
      </a>
      {% unless forloop.last %}, {% endunless %}
    {% endfor %}
  {%- endif -%}
  <br>

</h6>

{{ content }}
