---
layout: default
---

<!-- <h1>Tag #{{page.tag}}</h1> -->
<div class="list-group">
  {% for post in site.posts %}
  {% if post.tags contains page.tag %}

      <li class="list-group-item">
        <h2>
          <a href="{{ site.baseurl }}{{ post.url }}" class="text-dark">
            {{ post.title }}
          </a>
        </h2>

        <p class="text-muted">
          <small>
            <time datetime="{{ post.date | date_to_xmlschema }}">
              {{ post.date | localize: "%d %b %Y" }}
            </time>
            {% if post.type == 'text' %}

              &nbsp;|&nbsp;
              {{ post.content | reading_time }}

            {% endif %}

          {%- if post.tags.size > 0 -%}
              &nbsp;
              {% for tag in post.tags %}
                <a href="/tag/{{tag}}" class="badge badge-warning" role="button">
                  {{tag}}
                </a>
              {% unless forloop.last %} &nbsp; {% endunless %}
            {% endfor %}
          {%- endif -%}
          </small>
        </p>

        <p>
          {{ post.excerpt }}
        </p>

        <a class="btn btn-outline-secondary" href="{{ site.baseurl }}{{ post.url }}" role="button">Читать далее</a>

      </li>

  {% endif %}
  {% endfor %}
</div>
