---
layout: default
---

<h4 class="title is-4">Tag #{{page.tag}}</h4>
<ol type="1">
  {% for post in site.posts %}
  {% if post.tags contains page.tag %}

  <li>
    <h4 class="title is-4">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h4>
    <h6 class="subtitle is-6">
      <time datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | localize: "%d %b %Y" }}
      </time>
      &nbsp;|&nbsp;
      {{ post.content | reading_time }}
    </h6>
  </li>
  {% endif %}
  {% endfor %}
</ol>
